$cleanWhite: #f1f1f1;
$twilight: #df9793;
$blackOpacity8: rgba(0, 0, 0, 0.8);
$blackOpacity2: rgba(0, 0, 0, 0.2);
$pureBlack: black;
$grayColor: gray;
$grayDarkColor: rgb(49, 49, 49);
$redColor: #3a2223;