.title {
  color: $cleanWhite;
  font-size: 6vh;
  font-weight: 200;
  margin: 0 0 0 10px;
  font-family: $andika;
  padding-left: 20px;
  background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
  height: 10vh;
}

@media screen and (max-width: 480px) {
  .title {
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 540px) {
  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px !important;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: $pureBlack;
  }

  .title-home {
    height: 100vh;
  }

  .title-page {
    font-size: 50px;
  }
}