.about-data {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 1.5vh 0;
  gap: 1.5vh;
}

.about-us {
  width: 50%;
  display:flex;
  flex-direction: column;
}

.about-us-2 {
  width: 50%;
}

.about-img {
  margin-bottom: 3px;
  object-fit: cover;
  height: 45vh;
  width: 100%;
  flex-grow: 0;
}

.about-container {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.75vh;
  color: $cleanWhite;
  font-family: $andika;
  background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
  padding: 1.5vh 0;
}

.about-title {
  font-size: 4vh;
  font-weight: 200;
  width: 100%;
  margin: 0 0 0.75vh 0 !important;
  padding: 0.75vh 0 0 0;
  text-align: center;
}

.about-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  width: 100%;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.25vh;
  margin-top: 0.75vh;
  text-align: left;
  flex-grow: 1 !important;
  color: $cleanWhite;
  font-family: $andika;
  font-size: 2.3vh;
  line-height: 4vh;
  background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
  p {
    padding-top: 3vh;
  }
}

.about-div-buttom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.about-buttom {
  padding: 1vh;
  width: 50%;
  margin-top: 2vh;
  font-family: $andika;
  font-size: 2.3vh;
  color: $cleanWhite;
  background-color: $pureBlack;
  border: solid 1px $cleanWhite;
  transition: background-color 1.5s;
}

.about-buttom:hover {
  background-color: $cleanWhite;
  border: solid 1px $pureBlack;
  color: $pureBlack;
}

@media screen and (max-width: 700px) {

  .about-data {
    flex-direction: column;
  }

  .about-us {
    width: 100%;
  }

  .about-us-2 {
    width: 100%;
  }

  .about-text {
    text-align: center;
  }

  .about-buttom {
    padding: 0.5rem;
    width: 90%;
  }
}