.info-element {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.data-div-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
  margin: 10px 0;
  padding: 20px 0;
}

.info-image {
  width: 50%;
  object-fit: contain;
  margin: 0 0 10px 10px;
}

.info-image-glifo {
  width: 10%;
}

.info-data {
  width: 100%;
}

.info-details {
  color: $cleanWhite;
  font-weight: 200;
  font-family: $andika;
  padding: 20px 0 20px 20px;
  margin: 10px 0;
  background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
}

.info-image-white {
  float: left;
  width: 80%;
  object-fit: contain;
  padding: 20px;
}

.info-image-auspices-breeds {
  float: left;
  width: 40%;
  object-fit: contain;
  padding: 20px;
}

.data-specific {
  color: $cleanWhite;
  font-size: 2.5vh;
  font-family: $andika;
  margin-left: 10px;
}
.link-reference {
  text-decoration: none;
  color: $twilight;
  word-wrap: break-word;
}

.link-reference:hover {
  text-decoration: none;
  color: $redColorLight;
}

.font-text {
  padding-right: 5px;
}

.presentation-img {
  width: 50%;
  padding-right: 20px;
}

.info-description {
  background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
  padding: 20px;

  p {
    padding-bottom: 15px;
  }
}

.title-info {
  color: $cleanWhite;
  font-weight: 200;
  margin: 0 0 0 10px !important;
  font-family: $andika;
  padding: 10px 20px;
  background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
  line-height: 2.2rem;
}

@media screen and (max-width: 600px) {
  .info-data {
    margin-right: 10px;
  }

  .info-details {
    color: $cleanWhite;
    font-weight: 200;
    font-family: $andika;
    padding: 20px;
    background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
  }

  .info-image-white {
    float: none;
    width: 100%;
    object-fit: contain;
    padding: 0px;
  }

  .info-image-auspices-breeds {
    float: none;
    width: 80%;
    object-fit: contain;
    padding: 20px;
  }

  .presentation-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 0;
    background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
  }

  .data-div-img {
    margin: 10px 10px 10px 0;
    padding: 20px 0;
  }

  .info-image-glifo {
    width: 40%;
  }
}