.section-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.error-message {
  color: $cleanWhite;
  font-family: $andika;
  font-weight: 600;
  height: 3vh;
  padding: 3vh 0;
  width: 100%;
  text-align: center;
}

.title-page-login {
  color: $cleanWhite;
  font-family: $amatic;
  font-size: 8vh;
  line-height: 8vh;
  font-weight: 400;
  padding: 0 3vh 3.75vh 3vh;
  text-align: center;
}

.login-image {
  width: 22.5vh;
}

.admin-input {
  padding: 1.2vh 0 1.2vh 0;
  font-size: 2.5vh;
  margin-bottom: 3vh;
  text-align: center;
  width: 100%;
  font-family: $andika;
}

.admin-button {
  padding: 1.2vh;
  font-size: 2.5vh;
  text-align: center;
  border: none;
  color: $cleanWhite;
  font-family: $andika;
  width: 100%;
  transition: color 1.5s;
  border: 1px solid $cleanWhite;
  cursor: pointer;
  font-weight: 800;
}

.admin-button-disabled {
  background-color: $grayColor;
}

.admin-button-disabled:hover {
  transition: color 1.5s;
  background-color: $grayDarkColor;
}

.admin-button-enable {
  background-color: $blackOpacity8;
}

.admin-button-enable:hover {
  transition: color 1.5s;
  background-color: $redColor;
}


@media screen and (max-width: 800px) {
  .div-login {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .div-login {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .div-login {
    width: 80%;
  }
}