.section-login {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.error-message {
  color: $cleanWhite;
  font-family: $andika;
  font-weight: 600;
  height: 20px;
  padding-bottom: 20px;
}

.login-image {
  width: 150px;
  // margin-bottom: 40px;
}

.admin-input {
  padding: 8px 0 8px 0;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  font-family: $andika;
}

.admin-button {
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: none;
  color: $cleanWhite;
  font-family: $andika;
  width: 100%;
  transition: color 1.5s;
  border: 1px solid white;
  cursor: pointer;
  font-weight: 800;
}

.admin-button-disabled {
  background-color: $grayColor;
}

.admin-button-disabled:hover {
  transition: color 1.5s;
  background-color: $grayDarkColor;
}

.admin-button-enable {
  background-color: $blackOpacity8;
}

.admin-button-enable:hover {
  transition: color 1.5s;
  background-color: $redColor;
}


@media screen and (max-width: 800px) {
  .div-login {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .div-login {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .div-login {
    width: 80%;
  }
}