.div-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $cleanWhite;
  background-image: linear-gradient(to right, $blackOpacity8, $blackOpacity2);
  margin: 1.5vh 0;
  height: 77vh;
  font-family: $andika;

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.title-description-profile {
  font-size: 2.5vh;
  font-weight: 600;
  padding: 1vh;
}

.description-profile {
  font-size: 2.5vh;
  word-break: break-all;
  text-align: center;
  padding: 0 1.5vh;
}

@media screen and (max-width: 600px) {
  .div-profile {
    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}