.data-gift{
  margin: 1.5vh 0;
  font-size: 2.2vh;
}

.gift-div {
  font-family: $andika;
  color: $cleanWhite;
  background-color: $blackOpacity8;
  margin-top: 1.5vh;
  padding: 3vh;
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 49%;
  margin-right: 1%;
}

.title-gift {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5vh;
}

.img-arrow-gift {
  height: 6vh;
}

.solid {
  margin: 1.5vh 0;
  width: 85%;
  background-color: $cleanWhite;
  color: $cleanWhite;
}

@media screen and (max-width: 700px) {
  .w-50 {
    width: 100%;
  }
}